<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<!-- The App Section -->
<div class="container" id='about'>
  <div class="row">
    <div class="column-66">
      <h1 class="medium-font"><b>Tejas Hegde</b></h1>
      <p><span style="font-size:36px">A Full Stack Web Developer with 2+ years of experience in building scalable Monolithic and Service Oriented Applications.</span></p>
    </div>
    <div class="column-33">
        <img src="../../assets/download.png" width="335" height="471">
        <br/>
        <div class="social-media-links">
            <p><a href="https://www.linkedin.com/in/tejas-hegde-26b7a216b/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></p>
            <p><a href="https://github.com/Tejashegde1595" target="_blank"><i class="fa fa-github fa-2x"></i></a></p>
        </div>
    </div>
  </div>
</div>

<!-- Projects Section -->
<div class="container" id='projects'>
    <h1 class="medium-font"><b>Projects</b></h1>
    <div class="row">
    <div>
      <div class="project-display">
        <app-card [projects]= "projects" ></app-card>
      </div>
    </div>

  </div>
</div>

<!-- The Contact Section -->
<div class="container" id='contacts'>
  <div class="row">
    <div class="column-66">
      <h2><b>Contact Details</b></h2>
      <br/>
      <h2>Phone No : - <span style="color: blueviolet;">9742827993</span></h2>
      <h2>Email : <span style="color: blueviolet;"><a href="https:www.gmail.com">tejashegde.1595@gmail.com</a></span></h2>
      <br/>
    </div>  

  </div>
</div>

</body>
</html>
